flask
requests
apscheduler
python-dateutil
pytz
pymuPDF
fpdf
python-docx
werkzeug
python-dotenv
transformers
torch
pdf2docx
docx2pdf
pytesseract
sudo 
apt-get 
install 
tesseract-ocr 
poppler-utils 
libreoffice
